[package]
name = "ssv"
version = "0.1.0"
edition = "2021"

[dependencies]
task_executor = { path = "../sigp-crates/task_executor" }
sensitive_url = { path = "../sigp-crates/sensitive_url" }
async-channel = "2.3.1"
clap = "4.5.15"
dirs = "5.0.1"
ethereum_hashing = "0.7.0"
futures = "0.3.30"
# dirs = "3"
serde = { version = "1.0.208", features = ["derive"] }
tokio = { version = "1.39.2", features = ["rt", "rt-multi-thread", "time", "signal", "sync"] }
tracing = "0.1.40"
git-version = "0.3.9"
target_info = "0.1.0"
smallvec = "1.13.2"

[dev-dependencies]
regex = "1.10.6"
